body{
    background-image: url(../image/temp.jpg);
}
h2{
    color:white;
    text-align:center;
    padding: 30px;
    font-size:40px; 
    background-color:red;
}
form{
    text-align: center;
    margin: 5%;
}
a{
    color:black;
}